<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Business Transformation Consultant in BTS</h3>
                            <div class="time">07.2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Infosys Poland Sp. z o.o., Łódź, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Opis</p>  
                        <p>Opis 2 </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Business Transformation Consultant in BTS</h3>
                            <div class="time">07.2015 - 06.2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Infosys Poland Sp. z o.o., Łódź, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Business Transformation Consultant in BTS</h3>
                            <div class="time">08.2013 - 06.2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Infosys Poland Sp. z o.o., Łódź, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Consultant in Sales Department</h3>
                            <div class="time">08.2011 - 05.2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Centrum Bankowości Bezpośredniej Sp. z o.o., Łódź, Poland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->				
                
            </section><!--//section-->