<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>I will describe my projects here.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Vendor Query Improvement Project</a></span> - <span class="project-tagline">The project objective was to improve quality of the Vendor Query (VQ) process for main Infosys engagement. At starting point operational team was able to operate at level of 95% VQ closed within 24h - below SLA. Project goal was to improve this metrics to 99% VQ closed within 24h. 
<br><br>
<p>It was decided to use Six Sigma (6S) approach to improve process to desired level of Sigma and sustain it. My main responsibilities were:</p>
<ul>
<li>Measure current situation,</li>
<li>Conduct workshops and analysis with 6S (Ishikawa Diagram, Pareto Analysis, and FMEA for risk) and data mining tools (statistics overview, visualization and predictive model (machine learning) to categorize queries) to define root cause and to understand why it is not working at desired level, </li>
<li>Prepare improvement actions and planning to solve the problem,</li>
<li>Manage implementation with many small teams responsible for each actions,</li>
<li>Report to main stakeholders – Client Operations Head and Operations Managers,</li>
<li>Create status report,</li>
</ul>
<p>Goal was achieved and process is still on desired level (99% of VQ closed within 24h). Delivered project saving calculated as 70K USD.</p></span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Vendor Data Fix</a></span> - 
                    <span class="project-tagline">Project was related to cleansing of Vendor Master Data for biggest account in Infosys Poland. Project team analyzed current data (obsolete and duplicated vendors), did the profiling (data quality), and process assessment for future process improvement recommendation.
<br><br>
<p><b>Problem statement:</b></p>
<ul>
<li>Inactive vendor information,</li>
<li>Duplicated entries,</li>
<li>Vendor information that is being inputed into fields are inconsistent across kernels,</li>
<li>Lack of ownership and oversight on vendor master data,</li>
<li>Complex system - 15 SAP kernels</li>
</ul>
<p>Within 3 months project team reduced number of vendors by 61% from 608k to 254k, found 35k of potential duplicated vendors and measure quality of data set based on 58 different SAP fields. </p>

<p>Additionally during "Process Fix" phase for which I was responsible, project team identified process and system breakdowns, assessed SAP data model and authorization concept. As results almost 2k users were blocked in SAP for VMD changes. List of systems changes requirement, governance structure and process changes guidelines were delivered and presented.</p></span>
                </div><!--//item-->
            </section><!--//section-->